 
<nav class="navbar navbar-expand-sm bg-primary navbar-dark "   >
 
  <ul class="navbar-nav">
    <li class="nav-item"> 
      <a class="nav-link  " routerLinkActive="active" routerLink="list">List</a>
    </li>
    <li class="nav-item">       
      <a class="nav-link " routerLinkActive="active" routerLink="create">Create</a>
    </li>
    <li class="nav-item">       
      <a class="nav-link " routerLinkActive="active" routerLink="customValidator">Custom Validator</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle " href="#" id="navbardrop" data-toggle="dropdown">
        Ref..
      </a>
      <div class="dropdown-menu">
        <!-- <a  class="dropdown-item"  routerLinkActive="active" routerLink="create">Create</a> -->
        <!-- <a class="dropdown-item" href="https://www.youtube.com/watch?v=MPuXl1DS1vU&list=PL6n9fhu94yhWNJaDgh0mfae_9xoQ4E_Zj&index=9">Ref</a>
        <a class="dropdown-item" href="http://csharp-video-tutorials.blogspot.com/2018/09/angular-6-tutorial-for-beginners.html">Source Text </a> -->
        <a class="dropdown-item" href="https://github.com/elaiyakumar/ngPG">Github </a>
        <a class="dropdown-item" href="https://elaiyakumar.github.io/ngPG/">Github Pages</a>
        <a class="dropdown-item" href="http://csharp-video-tutorials.blogspot.com/2018/09/angular-6-tutorial-for-beginners.html">Ref</a>
        <a class="dropdown-item" href="https://code.visualstudio.com/docs/nodejs/angular-tutorial">VS Code Angular</a>
        <a class="dropdown-item" href="https://ngpg.stackblitz.io">Stackblitz</a>
        <a class="dropdown-item" href="https://jasonwatmore.com/post/2019/10/11/aspnet-core-3-jwt-authentication-tutorial-with-example-api">.Net Core JWT</a>
        
        <!-- http://blazorhelpwebsite.com/Blog/tabid/61/EntryId/4305/Implementing-PrimeNG-FileUpload-in-a-Net-Core-Application.aspx -->
      </div>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>

<br/> 

<div>
  Buttons display : 
   
  
  <div class="form-group row" style="margin-left:0px;">  
    <button type="button" class="btn btn-primary">Primary</button>&nbsp;
    <button type="button" class="btn btn-success">Success</button>&nbsp;
    <button type="button" class="btn btn-info">Info</button>&nbsp;
    <button type="button" class="btn btn-warning">Warning</button>&nbsp;
    <button type="button" class="btn btn-danger">Danger</button>&nbsp;
    <button type="button" class="btn btn-link">Link</button>&nbsp;
    
    <button type="button" class="btn">Basic</button>&nbsp;
    <button type="button" class="btn btn-default">Default</button>
  </div>
</div>
 
<br/> 
   